# Default registry
registry=https://registry.npmjs.org/

# For @sendt-media scope: GitHub Packages
@sendt-media:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
always-auth=true
